numpy~=2.3.5
qasync~=0.28.0
asyncify~=0.12.1
requests~=2.32.5
MaaFw 
psutil
PySide6-Fluent-Widgets
keyboard~=0.13.5
wmi
cryptography~=46.0.3
markdown~=3.10
chardet
pyperclip
pillow~=12.0.0
json-with-comments
PySide6~=6.10.1